@media all and (max-width: 1000px) {
    .icon {
      width: 50%;
      margin-bottom: 50px;
    }
  
    footer {
      text-align: center;
    }
  
    
  }
  
  
  @media all and (max-width: 670px) {
    .icon {
      width: 100%;
    }
  
    .btn {
      width: 50%;
    }
  
    
    .top-wrapper {
      text-align: left;
    }
  
    
    .header-right{display:none;}
    
    
    .menu-icon{display:block;}
    
    .top-wrapper h1 {
      font-size: 24px;
    }
  
    .top-wrapper p {
      font-size: 14px;
    }
  }
