@media all and (max-width: 1000px) {
    
    
  }
  
  
  @media screen and (max-width: 480px){
   .top-image {
       max-width: 100%;
      }
   .icons {
       

　　float: none;



　　width: 100% ;



  　}
